.chat-main
    .main-header
      .left-header
        .left-header__title
          group1
        %ul.left-header__members
          member：
          %li.member
            name1
          %li.member
            name2
          %li.member
            name3
      .right-header
        .right-header__button
          edit

    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'